.footer-body{
    background-color: rgba(31, 31, 38);
}
.img-wrapper img{
    width: 35px;
}
.footer-body h2{
    font-weight: bold;
    text-align: center;
    padding: 15px;
    color: rgba(255,255,255,0.8)
}